body{
    background-color:midnightblue;
    font-family:'Courier New', Courier, monospace;
    color:skyblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
    color:limegreen;
    font-weight:bolder;
    display:flex;
    justify-content:center;
}
h2{
    color:turquoise;
    font-weight: bolder;
}
h3{
    color:aqua;
    font-weight: bolder;
}
h4{
    color:turquoise;
    font-weight:bolder;
    display:flex;
    justify-content:center;
}

#edusec{
    border: 3px solid lightblue;
    border-radius: 25px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

#expsec{
    border: 3px solid lightblue;
    border-radius: 25px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

#hobsec{
    border: 3px solid lightblue;
    border-radius: 25px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

#navbar{
    display: flex;
    justify-content: space-around;
    border: 3px dashed lightblue;
    border-radius: 25px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
}